.card__container {
  position: absolute;
  width: 320px;
  height: 497px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--clr-white);
  border-radius: 20px;
}

.card__items {
  display: flex;
  flex-direction: column;
  margin: 1em 1em;
}

.card__text {
  margin: 0rem 0.5rem;
}
.card__headline {
  text-align: center;
  margin-bottom: 0.5em;
}
.card__body {
  color: var(--clr-grayish-blue);
  text-align: center;
}
